RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]



<filesMatch "\.(html|htm|js|css)$">
  FileETag None
  <ifModule mod_headers.c>
     Header unset ETag
     Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
     Header set Pragma "no-cache"
     Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
  </ifModule>
</filesMatch>


<ifModule mod_expires.c>
  ExpiresActive on
  ExpiresDefault                            "access plus 0 minutes"
  #css
  ExpiresByType text/css                    "access plus 0 seconds"
  #html
  ExpiresByType text/html                   "access plus 0 seconds"
  #javascript
  ExpiresByType application/javascript      "access plus 0 seconds"
  ExpiresByType application/javascript      "access plus 0 seconds"
  ExpiresByType text/javascript             "access plus 0 seconds"
</ifModule>

ErrorDocument 403 http://localhost/komikins/block
ErrorDocument 404 http://localhost/komikins/block